<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<display-name>Spring Security Tutorial Application</display-name>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring-oloba.xml</param-value>
	</context-param>
	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>

	<filter-mapping>
	  <filter-name>springSecurityFilterChain</filter-name>
	  <url-pattern>/hs/*</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>privilegeFilter</filter-name>
		<filter-class>com.oloba.security.MySecurityPrivilegeFilter</filter-class>
	</filter>

	<filter-mapping>
	  <filter-name>privilegeFilter</filter-name>
	  <url-pattern>/hs/*</url-pattern>
	</filter-mapping>

  <!--
	- Provides core MVC application controller. See bank-servlet.xml.
	-->
	<servlet>
		<servlet-name>HR-SAAS</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value></param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>HR-SAAS</servlet-name>
		<url-pattern>/hs/*</url-pattern>
	 </servlet-mapping>

</web-app>